<!-- <mat-sidenav-container>
  <mat-sidenav mode="side" opened>
      <div class="cols">
          <button mat-button class="menu-button">
             <li role="presentation" routerLinkActive="active"><a routerLinkk="">Dashboard</a></li>
          </button>
          <br>
          <button mat-button class="menu-button">
              <li role="presentation" routerLinkActive="active"><a routerLinkk="">Inventory</a></li>
          </button>
          <br>
          <button mat-button class="menu-button">
              <li role="presentation" routerLinkActive="active"><a routerLinkk="">Order & Delivery</a></li>
          </button>
          <br>
          <button mat-button class="menu-button">
              <li role="presentation" routerLinkActive="active"><a routerLinkk="">Ingredient Management</a></li>
          </button>
          <br>
          <button mat-button class="menu-button">
              <li role="presentation" routerLinkActive="active"><a routerLinkk="">Vendor Management</a></li>
          </button>
          <br>
          <button mat-button class="menu-button">
              <li role="presentation" routerLinkActive="active"><a routerLinkk="">Reports</a></li>
          </button>
      </div>
  </mat-sidenav>

  <mat-sidenav-content>
      <div class="content">
           <router-outlet></router-outlet>
      </div>
  </mat-sidenav-content>

</mat-sidenav-container>

-->
