mat-sidenav-container {
  height: calc(100vh - 65px);
}

mat-sidenav {
  margin: 26px;
  width: 280px;
  border-right: none;
  background: #6f42c1;
  color:white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
  float: left;

}

mat-toolbar{
  color: white;
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
}

mat-icon {
  margin-right: 8px;
}

.menu-button:hover{
  background-color: rgb(240, 233, 223);
  color: #6f42c1;
}
