<div class="content">
  <div class="container">
    <div class="topic">
      <div class="title">
        Settings & Tools
      </div>
    </div>
    <div class="options">
      <button mat-button color="primary" class="btn">Login Activities</button>
      <button mat-button color="primary" class="btn">Changes & Updates</button>
      <button mat-button color="primary" class="btn">Add New Admin</button>
      <button mat-button color="primary" class="btn">Add New User</button>
    </div>
  </div>
</div>
