.content {
  height: calc(100vh - 98px);
  font-size: 2rem;
  color: rgb(78, 5, 214);
  border-radius: 10px;

  position: relative;
  padding: 10px;
  margin-top: 32px;
  margin-left: 25px;
  border-radius: 3px;
}
