/* @import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@600&family=Ibarra+Real+Nova&display=swap') */
/* Message Box */
.content {
  height: calc(100vh - 98px);
  font-size: 2rem;
  color: rgb(78, 5, 214);
  border-radius: 10px;

  position: relative;
  padding: 10px;
  margin-top: 32px;
  margin-left: 25px;
  border-radius: 3px;
}

.title-message{
  text-align: left;
  color: rgb(15, 50, 116);
}

.widget {
  background: #fff;
  margin-bottom: 2.5rem;
  display: block;
  position: relative;
  box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1),
  0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
}

.widget .widget-header,.widget-reminder-content,
.widget-reminder-time,a.widget-header-title {
  padding: 0.625rem;
}

.widget-chat-message:after,.widget-chat-message:before,
.widget-reminder-container:after,.widget-reminder-container:before {
  display: table;
  content: "";
  clear: both;
}

.widget-footer.with-border,.widget-reminder-container + .widget-reminder-container {
  border-top: 1px solid #efeff4;
}

.widget-footer.with-bg,.widget-header.with-bg {
  background: #efeff4;
}

.widget-header.with-border {
  border-bottom: 1px solid #efeff4;
}

.widget-reminder-header {
  background: #efeff4;
  padding: 0.625rem;
  font-size: 0.625rem;
  font-weight: 700;
  color: #8a8a8f;
}

.widget-reminder-container {
  position: relative;
}

.inverse-mode .widget-reminder-container + .widget-reminder-container {
  border-color: #333;
}

.inverse-mode .widget-reminder-header {
  background: #212121;
}

.widget-reminder-time {
  width: 5rem;
  float: left;
  text-align: right;
  font-size: 0.625rem;
}

.widget-reminder-divider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5rem;
  width: 0.125rem;
  background: #efeff4;
}

.widget-reminder-content {
  margin-left: 5.125rem;
}

.widget-header-title {
  margin: 0;
  font-size: 0.75rem;
  font-weight: 500;
}

.widget .widget-title, .widget .widget-title a {
  font-size: .75rem;
  color: #000;
  line-height: 1rem;
}

.widget .widget-title {
  font-weight: 600;
  margin: 0;
}

.widget-desc, .widget-desc a {
  font-size: .6875rem;
  line-height: 1rem;
  color: #8A8A8F;
  font-weight: 500;
}

.widget .widget-header, .widget-reminder-content, .widget-reminder-time, a.widget-header-title {
      padding: .625rem;
 }

  /* Sales Activity */

main .box-topic {
  padding: 5px;
}
.text{
  padding: 5px;
}

.sales{
  top: 10px;
  text-align: left;
  color: rgb(15, 50, 116);
}

.sales-activity {
  position: relative;
  padding: 5px;
  margin-top: 32px;
  border-radius: 3px;
}

.home-section .overview-boxes{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.home-section .home-content{
  position: relative;
  padding-top: 100px;
}

.home-content .overview-boxes{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 10px;
}

.home-content .overview-boxes .box{
 /*width: calc(100% / 4 - 15px);*/
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 14px;
  background: #fff;
  border-radius: 10px;
}

.home-content .overview-boxes .box-topic{
  font-size: 20px;
  font-weight: 500;
  color:#000;
}

.home-content .overview-boxes .number{
  font-size: 35px;
  font-weight: 500;
  margin-top: 5px;
  display: inline-block;
}

.overview-boxes .indicator{
  display: flex;
  align-items: center;
}

.overview-boxes .indicator i{
  height: 20px;
  width: 20px;
  background: green;
  color:#fff;
  border-radius: 50%;
  font-size: 20px;
  margin-right: 5px;
}

.overview-boxes .indicator i.down{
  background: #e87d88;
}

.overview-boxes .indicator .text{
  font-size: 12px;
}

.overview-boxes .box .cart{
  font-size: 32px;
  font-weight: 500;
  height: 50px;
  width: 50px;
  background: #66b0ff;
  color: #cce5ff;
  line-height: 50px;
  text-align: center;
  border-radius: 12px;
  margin-left: 10px;
}

.overview-boxes .box .cart.two{
  background: #2BD47D;
  color: #C0F2D8
  
}

.overview-boxes .box .cart.three{
  background: #ffc233;
  color: #ffe8b3;
}

.overview-boxes .box .cart.four{
  background: #e05260;
  color: #f7d4d7;
}