<div class="content">

  <div class="title-message">
   <h2>Message</h2>
  </div>

    <div class="col-md-12">
      <div class="widget widget-reminder">
        <div class="widget-reminder-header">
          TODAY, July 11
        </div>

        <!-- Table-row for shipped item. -->
        <div class="widget-reminder-container">
          <!-- Time table -->
          <div class="widget-reminder-time">
            09:00<br>
            12:00
          </div>

            <!-- Vertical Greenline -->
            <div class="widget-reminder-divider bg-success"></div>

            <!-- Content of the message. -->
            <div class="widget-reminder-content">
              <h4 class="widget-title">Shipped Item</h4>
              <div class="widget-desc"><i class="fa fa-map-pin"></i>
                15 Box Pizza Dough.
              </div>
            </div>
        </div>

        <div class="widget-reminder-container">

          <!-- Time table -->
          <div class="widget-reminder-time">
            20:00<br>
            23:00
          </div>

          <!-- Vertical Blueline -->
          <div class="widget-reminder-divider bg-primary"></div>

          <!-- Content of the message. -->
          <div class="widget-reminder-content">
            <h4 class="widget-title">New Invoice</h4>
            <div class="widget-desc"><i class="fa fa-map-pin"></i>
              $1,500
            </div>
          </div>
        </div>

        <div class="widget-reminder-container">
          <div class="widget-reminder-time">
            20:00<br>
            23:00
          </div>

          <div class="widget-reminder-divider bg-primary"></div>

          <div class="widget-reminder-content">
            <h4 class="widget-title">New Invoice</h4>
            <div class="widget-desc"><i class="fa fa-map-pin"></i>
              $1,500
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="sales">
    <div class="sales-activity">
      <h2>Sales Activity</h2>
    </div>

    <div>


    </div>

  </div>
</div>


