<div class="content">
    <div class="new-inventory">
            <div class="title">
                <h2>New Inventory</h2>
            </div>
        <form action="#">
                <div class="user-details">
                    <!--Vendor Name-->
                    <div class="input-box">
                        <span class="details">Vendor Name</span>
                        <input type="text">
                    </div>
                    <!--Vendor Address-->
                    <div class="input-box">
                        <span class="details">Vendor Address</span>
                        <input type="text">
                    </div>
                    <!--Vendor phonenumber-->
                    <div class="input-box">
                        <span class="details">Phone Number</span>
                        <input type="text">
                    </div>
                    <!--Vendor Email-->
                    <div class="input-box">
                        <span class="details">Email Address</span>
                        <input type="text">
                    </div>
                </div>
                <div class="tables">

                </div>
                <div class="footer">
                    <!--Additional Information-->
                    <div class="additional-info">
                        <h3>Additional Information</h3>
                        <input class="comment-section" type="text">
                    </div>
                    <!--Create Order | Cancel Order-->
                    <div class="footer-button">
                        <div class="create-order">
                            <a href="createorder"><button mat-flat-button color="primary">Create</button></a>
                        </div>
                        <div class="cancel-order">
                            <a href="cancelorder"><button mat-flat-button color="warn">Cancel</button></a>
                        </div>
                    </div>
                </div>
        </form>
    </div>
</div>
  