.content {
  height: calc(100vh - 98px);
  margin: 16px;
  margin-left: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6f42c1;
  font-size: 2rem;
  border-radius: 10px;
}


.form-control:focus {
  box-shadow: none;
  border-color: #6f42c1;
}

.profile-button {
  background: green;
}

.profile-button:hover {
  background: #6f42c1;
}

.profile-button:focus {
  background: #6f42c1;
  box-shadow: none
}

.labels {
  font-size: 13px
}
