.content {
  height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6f42c1;
  font-size: 2rem;
  border-radius: 10px;
}

.row{
  width: 80%;
  height: 90%;
  align-content: center;
}

.form-control{
  width: 75%;

}

.form-control:focus {
  box-shadow: none;
  border-color: #6f42c1;
  margin-left: 20px;
}

.profile-button {
  background: green;
}

.profile-button:hover {
  background: #6f42c1;
}

.profile-button:focus {
  background: #6f42c1;
  box-shadow: none
}

.labels {
  font-size: 13px
}
