.content {
  margin-top: 30px;
  margin-right: 30px;
  margin-left: 50px;
}

.button-row {
  display: flex;
  width: 100%;
  margin-top: 5px;
}

.button-row {
  margin: 8px 8px 8px 0;
}


#inventory_table td, #inventory_table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#inventory_table tr:nth-child(even){
  background-color: #f2f2f2;
}

#inventory_table tr:hover {
  background-color: #ddd;
}

#inventory_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #6f42c1;
  color: white;
}


table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: center;
  padding: 8px;
}
