<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>
<body>
  <div class="content">
    <div class="topic">
      <div class="header">
        <h1><b>Customer Service</b></h1>  
      </div>
    </div>
  
    <div class="row">
      <div class="column-1">
        <div class="title">
          About Us
        </div>
        <h3>We are world best pizza product company. We deliver pizza products and Italian American cuisine.</h3>
      </div>
      <div class="column-2">
        <div class="title">
         Customer Service
        </div>
        <h3>For over 4 decades, we have been serving quality food and services to our communities. We deeply value our customers, their opinions, and always appreciated their business with us.</h3>
      </div>
    </div>

    <div class="row">
      <div class="column-1">
        <div class="title">
          Contact Us
        </div>
        <h3>Address: 2930 W Maple St, Sioux Falls, SD 57107</h3>
        <h3>Phone: (800)-336-1320</h3>
        <h3>Email: orionlandmark@olm.com</h3>
      </div>
      <div class="column-2">
        <div class="title">
          Feedback
        </div>
        <h3>We appreciate your feedback.</h3>
      </div>
      
    </div>
  </div>
</body>
</html>


