<mat-toolbar color="primary">
    <div class="companylogo">
      <h3>olm</h3>
    </div>

    <div class="searchbar">
        <input class="form-control" type="text" name="search" placeholder="Search">
    </div>

    <div class="column">
        <a routerLink="#" mat-icon-button><mat-icon>notifications</mat-icon></a>
        <a routerLink="#" mat-icon-button><mat-icon>settings</mat-icon></a>
        <a routerLink="#" mat-icon-button><mat-icon>help</mat-icon></a>
        <a routerLink="#" mat-icon-button><mat-icon>person</mat-icon></a>
    </div>
</mat-toolbar>
